<div class="alignleft">
  <h1><a href="<%- config.root %>"><%= config.title %></a></h1>
  <h2><a href="<%- config.root %>"><% if (config.subtitle){ %><%= config.subtitle %><% } %></a></h2>
</div>
<nav id="main-nav">
  <ul>
    <li><a href="https://twitter.com/15lettermax"><i class="fa fa-twitter fa-2x"></i></a></li>
    <li><a href="https://github.com/cafreeman"><i class="fa fa-github fa-2x"></i></a></li>
    <li><a href="https://www.linkedin.com/pub/chris-freeman/28/248/2ba"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
    <li><a href="/archives/"><i class="fa fa-archive fa-2x"></i></a></li>
  </ul>
  <div class="clearfix"></div>
</nav>
<div class="clearfix"></div>
